[submodule "cloned_projects/abhinnav-work-project"]
	path = cloned_projects/abhinnav-work-project
	url = https://abhinnav-work:glpat-FOQCDC_ftwlmAOrGTFJ7wm86MQp1Omk2enBtCw.01.120aubo2z@gitlab.com/abhinnav-work-group/abhinnav-work-project
